<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="nodemcustyle.css">
    <title>CONTACT</title>
    <style>
        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="values">
    <h1>DATA FROM NODE MCU</h1>
    <h3>TEMPERATURE:"+String(temperature)+"</h3>
    <h3>HUMIDITY:"+String(humidity)+"</h3>
    <h3>PERSON IN ROOM STATUS:"+String(PIR)+"</h3>
    <h3>AIR QUALITY:"+String(air_quality)+"</h3>
    <h3>EXHAUSTFAN:"+String(ef)+"</h3>
    <h3>BUZZER STATUS:"+String(buzzer)+"</h3>
    <h3>LIGHT:"+String(light)+"</h3>
    <h3>FAN:"+String(fan)+"</h3>
    <h3>FRIDGE:"+String(fridge)+"</h3>
    <h3>OVEN:"+String(oven)+"</h3>
    </div>
</body>

</html>