<!DOCTYPE html>    
<html>  
<head>    
        
   <link rel="stylesheet" type="text/css" href="../static/loginonly.css"> 
</head>
<body>
    
    <h1>select operation you want</h1>
   <button onclick="myfunction()">update startdate</button>
   <br><br>
   <button onclick="myifunction()">update other</button>
   <script>
       function myfunction() {
           location.replace("vsdupdate")
       }
       function myifunction() {
           location.replace("vupdate")
       }
   </script>
</body>
</html> 